#moon{
    display: none;
}
#sun{
    display: block;
}

body{
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}

*{
    margin: 0;
    padding: 0;
}

.grid{
    display: grid;
    grid-template-columns: 1% 1fr 1fr 1fr 1%;
    grid-template-rows: 1fr 0.6fr 3fr 1fr;

    grid-template-areas: 
    ". head head head ."
    ". nav nav nav ."
    ". content content content ."
    ". readme readme readme .";
}

header{
    grid-area: head;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 1fr;

    grid-template-areas: 
    "theme header settings";
}

.theme{
    grid-area: theme;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header{
    grid-area: header;
}

.settings{
    grid-area: settings;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar{
    grid-area: nav;
}

.content{
    grid-area: content;
}

.readme{
    grid-area: readme;
}